<div class="container">
	<script src="//static.opentok.com/v2/js/opentok.min.js"></script>

	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Video chat</div>
	  <div class="panel-body">
	    <p>    	
			
	    </p>
	  </div>
	  <div class="panel-footer">
		  Dont mind
	  </div>
	  
	</div>

	
</div>